{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- Favicons -->
  <link rel="shortcut icon" type="image/png" href={% static 'photo/favicon.png' %} />

  <!-- Bootstrap CSS File -->
  <link href={% static 'mylib/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">

  <!-- mylibraries CSS Files -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href={% static 'mylib/font-awesome/css/font-awesome.min.css' %} rel="stylesheet">
  <link href={% static 'mylib/animate/animate.min.css' %} rel="stylesheet">
  <link href={% static 'mylib/ionicons/css/ionicons.min.css' %} rel="stylesheet">
  <link href={% static 'mylib/owlcarousel/assets/owl.carousel.min.css' %} rel="stylesheet">
  <link href={% static 'mylib/lightbox/css/lightbox.min.css' %} rel="stylesheet">
  <link href="{% static 'css/menu.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href={% static 'css/base.css' %} rel="stylesheet">

    <!---------------------------------------------->
    <style type="text/css">
    @font-face {
      font-family: vazir-thin;
      src: url({% static "font/vazir-font-v19.1.0/Farsi-Digits/Vazir-Thin-FD.woff" %});
    }
    @font-face {
      font-family: vazir-medium;
      src: url({% static "font/vazir-font-v19.1.0/Farsi-Digits/Vazir-Medium-FD.woff" %});
    }
    @font-face {
      font-family: vazir-bold;
      src: url({% static "font/vazir-font-v19.1.0/Farsi-Digits/Vazir-Bold-FD.woff" %});
    }
    @font-face {
      font-family: Vazir Code;
      src: url('{% static "font/vazir-code-font-v1.1.1/Vazir-Code.eot" %}');
      src: url('{% static "font/vazir-code-font-v1.1.1/Vazir-Code.eot" %}'),
           url('{% static "font/vazir-code-font-v1.1.1/Vazir-Code.woff" %}') format('woff'),
           url('{% static "font/vazir-code-font-v1.1.1/Vazir-Code.ttf" %}') format('truetype');
      font-weight: normal;
    }

    @font-face {
      font-family: Vazir Code Hack;
      src: url('{% static "font/vazir-code-font-v1.1.1/Vazir-Code-Hack.eot" %}');
      src: url('{% static "font/vazir-code-font-v1.1.1/Vazir-Code-Hack.eot" %}'),
           url('{% static "font/vazir-code-font-v1.1.1/Vazir-Code-Hack.woff" %}') format('woff'),
           url('{% static "font/vazir-code-font-v1.1.1/Vazir-Code-Hack.ttf" %}') format('truetype');
      font-weight: normal;
    }
  </style>
</head>
<body id="page-top">
    <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll" href="#page-top">Wellnes</a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
            aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link js-scroll active" href="#home">خانه</a>
              </li>

              <li class="nav-item">
                <a class="nav-link js-scroll" href="#about">درباره ما</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link js-scroll" href="#clinic">مجموعه</a>
                </li>

              <li class="nav-item">
                  <a class="nav-link js-scroll" href="#contactMe">تماس با ما</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#service">خدمات</a>
                  </li>

              <li class="nav-item">
                <a class="nav-link js-scroll" href="#login">ورود</a>
              </li>

              <li class="nav-item">
                <a class="nav-link js-scroll" href="#register">ثبت نام</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      {% block content %}





      {% endblock content %}








{#      <footer>#}
{#        <div class="container">#}
{#          <div class="row">#}
{#            <div class="col-sm-12">#}
{#              <div class="copyright-box">#}
{#                <p class="copyright">&copy; Copyright 2020 <a href="/" class="text-light"><strong>Wellnes</strong></a>.#}
{#                  All Rights Reserved</p>#}
{#                <div class="credits">#}
{#  #}
{#                  Designed by <a href="#"><strong>Mj</strong></a>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </footer>#}




       <!-- JavaScript mylibraries -->
  <script src={% static 'mylib/jquery/jquery.min.js' %}></script>
  <script src={% static 'mylib/jquery/jquery-migrate.min.js' %}></script>
  <script src={% static 'mylib/popper/popper.min.js' %}></script>
  <script src={% static 'mylib/bootstrap/js/bootstrap.min.js' %}></script>
  <script src={% static 'mylib/easing/easing.min.js' %}></script>
  <script src={% static 'mylib/counterup/jquery.waypoints.min.js' %}></script>
  <script src={% static 'mylib/counterup/jquery.counterup.js' %}></script>
  <script src={% static 'mylib/owlcarousel/owl.carousel.min.js' %}></script>
  <script src={% static 'mylib/lightbox/js/lightbox.min.js' %}></script>
  <script src={% static 'mylib/typed/typed.min.js' %}></script>


  <!-- Template Main Javascript File -->
  <script src={% static 'js/main.js' %}></script>
</body>
</html>
