{% extends "base2.html" %}

{% block content %}

 <!--/ Intro Skew Star /-->
 <div id="home" class="intro route bg-image" style="/*background-image: url(/static/img/back-top.jpg)*/">
    <div class="overlay-itro" >
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">

            <div class="row center m-auto title-menu" >
                <strong class="m-auto " style="font-size: 48px;color: purple; opacity: 100%">مراکز {{ clubs.first.group }} منطقه : {{ clubs.first.region }} {{ region }}</strong>
            </div>
            {% if clubs %}

                    <div class="row" style="margin-top: 100px" >
                    {% for club in clubs %}

                    <div class="col-md-12 col-8 card-row" >
                        <div class="card  text-white text-center p-3 card-compelex-list">
                            <blockquote class="blockquote mb-0">
                              <a class="p-card-menu" href="{{ region }}/1">{{ club.name }}</a>
    {#                          <footer class="blockquote-footer text-white">#}
    {#                            <small>#}
    {#                              Someone famous in <cite title="Source Title">Source Title</cite>#}
    {#                            </small>#}
    {#                          </footer>#}
                            </blockquote>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    {% endfor %}

                    </div>


            {% endif %}


        </div>
      </div>
    </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

{% endblock content %}
