{% extends "base2.html" %}

{% block content %}

 <!--/ Intro Skew Star /-->
 <div id="home" class="intro route bg-image" style="/*background-image: url(/static/img/back-top.jpg)*/">
    <div class="overlay-itro" >
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">

            <div class="row center m-auto title-menu" >
                <strong class="m-auto " style="font-size: 48px;color: purple; opacity: 100%">مراکز منطقه : {{ region }}</strong>
            </div>
            <div class="row" style="margin-top: 100px" >
                <div class="col-md-5 col-8 card-row" >
                    <div class="card  text-white text-center p-3 card-compelex">
                        <blockquote class="blockquote mb-0">
                          <a class="p-card-menu" href="{{ region }}/1">باشگاه های فیتنس</a>
{#                          <footer class="blockquote-footer text-white">#}
{#                            <small>#}
{#                              Someone famous in <cite title="Source Title">Source Title</cite>#}
{#                            </small>#}
{#                          </footer>#}
                        </blockquote>
                    </div>
                </div>

            </div>
            <br>
            <div class="row" >
                <div class="col-md-5 col-8 card-row" >
                    <div class="card  text-white text-center p-3 card-compelex">
                        <blockquote class="blockquote mb-0">
                          <a class="p-card-menu" href="{{ region }}/2">مراکز ماساژ</a>
{#                          <footer class="blockquote-footer text-white">#}
{#                            <small>#}
{#                              Someone famous in <cite title="Source Title">Source Title</cite>#}
{#                            </small>#}
{#                          </footer>#}
                        </blockquote>
                    </div>
                </div>

            </div>
            <br>
            <div class="row" >
                <div class="col-md-5 col-8 card-row" >
                    <div class="card  text-white text-center p-3 card-compelex">
                        <blockquote class="blockquote mb-0">
                          <a class="p-card-menu" href="{{ region }}/3">مراکز خدماتی و آرایشی</a>
{#                          <footer class="blockquote-footer text-white">#}
{#                            <small>#}
{#                              Someone famous in <cite title="Source Title">Source Title</cite>#}
{#                            </small>#}
{#                          </footer>#}
                        </blockquote>
                    </div>
                </div>

            </div>

        </div>
      </div>
    </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

{% endblock content %}
