{% extends "base2.html" %}

{% block content %}

 <!--/ Intro Skew Star /-->
 <div id="home" class="intro route bg-image" style="/*background-image: url(/static/img/back-top.jpg)*/">
    <div class="overlay-itro" >
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <div class="row title-wellnes"><h1 class="intro-title mb-4" style="margin: auto">Tehran</h1></div>
          <div class="row title-wellnes"><h1 class="intro-title mb-4" style="margin: auto">Wellness</h1></div>
          <p class="intro-subtitle center"  ><span class="text-slider-items">سلامتی شما هدف ماست</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
{#          <button type="button" class="btn btn-secondary btn-lg btn-block">ورود به نقشه</button>#}

          <div class="row row-button-sm center" >
            <a href="{% url 'login' %}" class="btn btn-default btn-circle btn-xl login-button" style="padding: 0; display: block">
                <button type="button" class="btn btn-default btn-circle btn-xl login-button" style="width: 100%;margin-top: 0!important;" >
                    <span>ورود به حساب</span>
                </button>
            </a>

           <a href="{% url 'tehranMap:map' %}" class="btn btn-default btn-circle btn-xl map-button" style="padding: 0;">
                <button type="button" class="btn btn-default btn-circle btn-xl map-button" style="width: 100%;margin-top: 0!important;">
                    <span>نقشه</span>
                </button>
           </a>
          </div>
        <div class="clearfix">

        </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

{% endblock content %}
