
@media screen and (min-width: 570px){
    .card-row{
        margin: auto
    }

    .card-compelex{
    width: 100%;
    margin: auto;
    /*background-color: #32383e;*/
    background-image: url("../com.graphicstudio.moslash2.jpg");
    background-size: cover;
    border: solid 2px rgba(201,219,230,0.42);

    }
    .card-compelex-list{
    width: 100%;
    margin: auto;
    /*background-color: #32383e;*/
    background-image: url("../background-button.jpg");
    background-size: cover;
    border: solid 2px rgba(201,219,230,0.42);

    }
    .p-card-menu{
        color: black;
    }
}
@media (max-width: 570px) {
    .card-row{
        margin: auto
    }

    .card-compelex{
        margin: auto;
        /*background-color: #32383e;*/
        background-image: url("../background-button.jpg");
        padding: 10px;
        background-size: cover;
        border: solid 2px rgba(201,219,230,0.42);
        border-radius: 20px;
        /*padding: 10px 0 -10px 0;*/
        height: 60px;

        /*box-shadow: #32383e;*/
    }

    .card-compelex-list{
        margin: auto;
        /*background-color: #32383e;*/
        background-image: url("../background-button.jpg");
        padding: 10px;
        background-size: cover;
        border: solid 2px rgba(201,219,230,0.42);
        border-radius: 20px;
        /*padding: 10px 0 -10px 0;*/
        height: 60px;

        /*box-shadow: #32383e;*/
    }

    .p-card-menu{
        color: black;
        font-size: 18px;
    }
    .title-menu{
        background-image: url("../simple-background.jpg");
        background-size: cover;
        border: solid 2px rgba(201,219,230,0.42);
        border-radius: 15px;
        padding: 5px;
        /*background-color: #6b7379*/
        opacity: 50%;
    }
}


