{% extends "base2.html" %}
{% block content %}
    <div class="row pt-5 justify-content-center col-md-12 col-sm-8 " style="margin: auto; height: 100%;">
    <div class="col-lg-6 col-sm-12">
        <div class="card card-default" >
            <div class="card-header"><h2 class="center">ورود به پنل کاربری</h2></div>
            <div class="card-body" >




                <form method="post" class="form-horizontal" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="control-label" style="display: block;text-align:center">شماره تلفن همراه:</label>
                        <input id="username" class="form-control" name="username" type="tel" pattern="[0-9]{4}[0-9]{3}[0-9]{2}[0-9]{2}" placeholder="09121234567" style="text-align: center">
                    </div>
                    <div class="form-group pass-group">
                        <label for="password" class="control-label" style="display: block;text-align:center">گذر واژه:</label>
                        <input id="password" class="form-control" name="password" type="password" style="text-align: center">
                    </div>
                    <div class="form-group button-group">
                        <div class="col-md-5 col-sm-12" style="display: inline-block;float: right; align-items: center">
                            <button type="submit" class="btn col-md-12 col-sm-12 btn-primary login-btn" style="float: right">ورود</button>

                            <a class="btn col-md-12 btn-primary center google-btn col-sm-12" style="float: right"  href="{% url 'social:begin' 'google-oauth2' %}">ورود با اکانت گوگل</a>

                        </div>

                        <div class="col-md-5 col-sm-12" style="display: inline-block">
                            <a href="{% url 'register' %}" class="btn col-md-12 btn-primary register-btn col-sm-12">ثبت نام</a>
                            <a href="#" class="btn col-md-12 btn-primary remember-password-btn col-sm-12">فراموشی رمز عبور</a>


                        </div>
                    </div>
{#                        <p><strong>-- OR --</strong></p>#}
{#                        <div class="form-group">#}
{#                            <a href="{% url 'social:begin' 'twiter' %}">Login with Twiter</a>#}
{#                        </div>#}

                </form>





            </div>
        </div>
    </div>
    </div>
{% endblock %}
















