{% extends 'base2.html' %}
{##}
{#{% block content %}#}
{#  <h2>Sign up</h2>#}
{#  <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <button type="submit">Sign up</button>#}
{#  </form>#}
{#{% endblock %}#}





{% block content %}
{#  <h2>Sign up</h2>#}
{#  <form method="post">#}
{#    {% csrf_token %}#}
{#    {% for field in form %}#}
{#      <p>#}
{#        {{ field.label_tag }}<br>#}
{#        {{ field }}#}
{#        {% if field.help_text %}#}
{#          <small style="color: grey">{{ field.help_text }}</small>#}
{#        {% endif %}#}
{#        {% for error in field.errors %}#}
{#          <p style="color: red">{{ error }}</p>#}
{#        {% endfor %}#}
{#      </p>#}
{#    {% endfor %}#}
{#    <button type="submit">Sign up</button>#}
{#    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>#}
{#  </form>#}



        <div class="row pt-5 justify-content-center col-md-12 col-sm-8 " style="margin: auto;height: 100%;">
    <div class="col-lg-6 col-sm-12">
        <div class="card card-default" >
            <div class="card-header"><h2 class="center">ثبت نام</h2></div>
            <div class="card-body" >




                <form method="post" class="form-horizontal" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="control-label" style="display: block;text-align:center">شماره تلفن همراه:</label>
                        <input id="username" class="form-control" name="username" type="tel" pattern="[0-9]{4}[0-9]{3}[0-9]{2}[0-9]{2}" placeholder="09121234567" style="text-align: center">
                                                {{ forms.username.error }}

                    </div>

                    <div class="form-group pass-group">
                        <label for="password1" class="control-label" style="display: block;text-align:center" >گذر واژه:</label>
                        <input id="password1" class="form-control" name="password1" type="password" style="text-align: center">
                        {{ forms.password.error }}
                    </div>
                    <div class="form-group pass-group">
                        <label for="password2" class="control-label" style="display: block;text-align:center">تکرار گذر واژه:</label>
                        <input id="password2" class="form-control" name="password2" type="password" style="text-align: center">
                                                {{ forms.error }}

                    </div>

                    <div class="form-group button-group">
{#                        <div class="col-md-5" style="display: inline-block;float: right; align-items: center">#}
{##}
{##}
{#                            <a class="btn col-md-12 btn-primary center google-btn" style="float: right"  href="{% url 'social:begin' 'google-oauth2' %}">ورود با اکانت گوگل</a>#}
{##}
{#                        </div>#}

                        <div class="col-md-5" style="display: block; margin : auto;">
                            <button type="submit" class="btn col-md-12 btn-primary register-btn">ثبت نام</button>



                        </div>
                    </div>
{#                        <p><strong>-- OR --</strong></p>#}
{#                        <div class="form-group">#}
{#                            <a href="{% url 'social:begin' 'twiter' %}">Login with Twiter</a>#}
{#                        </div>#}

                </form>





            </div>
        </div>
    </div>
    </div>

{% endblock %}